.add-course {
    display: flex;
    justify-content:end;

    button {
        background-color: hotpink;
        font-family: cursive;
    }
}

.add-course-button {
    margin: 1rem;
}

.course-block {
    font-family: cursive;
    padding: 0.5rem 2rem;
    color: pink;

    app-course-block {
        text-align: right;
    }
}