<h3>{{ course()?.courseID }} {{ course()?.courseName }}</h3>
<div>
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    @for (link of pageLinks; track link) {
    <a mat-tab-link (click)="activeLink = link" [active]="activeLink == link">
      {{ link }}
    </a>
    }
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
  <ng-container *ngIf="activeLink === 'Content'">
    <p>content</p>
    <button (click)="getQrCode()">Test QR</button>
  </ng-container>
  <ng-container *ngIf="activeLink === 'Gradebook'">
    <div *ngIf="user()?.isStudent">
      <h3>Attendance for {{ user()?.firstName }} {{ user()?.lastName }}</h3>
      <div>Total Attendance: {{ attendance().length }}</div>
    </div>
    <div *ngIf="!user()?.isStudent">
      <h3>Attendance for {{ course()?.courseName }}</h3>
    </div>
    <mat-list>
      @for (date of attendance(); track date) {
      <mat-list-item>{{
        date.attendanceDate.toLocaleDateString()
      }}</mat-list-item>
      <mat-divider />
      }
    </mat-list>
  </ng-container>
</div>
